<div ng-if="layout === 'carousel'" class="col-md-12 carousel">
    <!--Pager-->
    <pager></pager>
    <div class="col-md-12">
        <!--Photos Carousel-->
        <!--Slider Nav-->
        <slick class="ng-slick slider-nav" ng-if="dataLoaded" init-onload="false" data="dataLoaded" infinite="true" lazy-load="progressive" slides-to-show="3" slides-to-scroll="1" center-mode="true" focus-on-select="true" variable-width="true" on-before-change="onBeforeSlideChange" as-nav-for=".slider-for">
            <div ng-repeat="item in media track by $index">
                <img ng-if="item.type === 'image'" class="image-responsive" data-lazy="{{image.thumbnail(item.file_name)}}" />
                <img ng-if="item.type === 'video'" class="image-responsive" data-lazy="{{item.videoSettings.poster}}" />
            </div>
        </slick>
        <div class="col-md-6 col-md-offset-3">
            <!--Slider For-->
            <slick class="ng-slick slider-for" ng-if="dataLoaded" init-onload="false" data="dataLoaded" lazy-load="progressive" slides-to-show="1" slides-to-scroll="1" arrows="false" fade="true" on-before-change="onBeforeSlideChange" as-nav-for=".slider-nav">
                <div ng-repeat="item in media track by $index">
                    <photos ng-if="item.type === 'image'" image-style="full"></photos>
                    <video-player ng-if="item.type === 'video'" video-settings="item.videoSettings"></video-player>
                </div>
            </slick>
        </div>
    </div>
</div>
