<div ng-if="layout === 'tile'" ng-repeat="item in photos track by $index" class="col-md-4 repeat-animate tile">
    <div ng-show="item.title !== undefined" class="thumbnail">
        <a ng-href="{{link(item.path)}}">
            <h5>{{item.title}}</h5>
            <img class="img-responsive" ng-src="{{image.thumbnail(item.file_name)}}" />
        </a>
    </div>
    <div ng-show="item.title == undefined" class="thumbnail">
        <img class="img-responsive" ng-src="{{image.thumbnail(item.file_name)}}" />
    </div>
</div>