<div class="photos">
    <div class="col-sm-3">
        <ul class="nav nav-pills nav-stacked" dx-start-with="menus">
            <li role="presentation" ng-class="{'active' : node.path == path}" ng-repeat="node in $dxPrior">
                <a ng-href="{{link(node.path)}}">{{node.name}}</a>
                <ul class="nav" dx-connect="node.children"/>
            </li>
        </ul>
    </div>
    <div class="view col-sm-9">
        <div id="layout-controls" class="pull-right">
            <a ng-if="detect.isMobile === false" ng-href="photos/{{path}}?layout=tile" class="btn btn-xs btn-info" ng-class="{'active' : layout == 'tile'}">Tile <span class="glyphicon glyphicon-th"></span></a>
            <a ng-if="detect.isMobile === false" ng-href="photos/{{path}}?layout=list" class="btn btn-xs btn-info" ng-class="{'active' : layout == 'list'}">List <span class="glyphicon glyphicon-th-list"></span></a>
            <a ng-if="total >= 3 || layout === 'carousel'" ng-href="photos/{{path}}?layout=carousel" class="btn btn-xs btn-info" ng-class="{'active' : layout == 'carousel'}">Carousel <span class="glyphicon glyphicon-picture"></span></a>
        </div>
        <h4>{{breadcrumb(path)}}</h4>
        <div class="row">
            <loading></loading>
            <!--Tile Layout-->
            <div ng-if="layout === 'tile' && detect.isMobile === false" ng-repeat="item in photos track by $index" class="col-md-4 repeat-animate tile">
                <div ng-show="item.title !== undefined" class="thumbnail">
                    <a ng-href="{{link(item.path)}}">
                        <h5>{{item.title}}</h5>
                        <img class="img-responsive" ng-src="{{image.thumbnail(item.file_name)}}" />
                    </a>
                </div>
                <div ng-show="item.title == undefined" class="thumbnail">
                    <img class="img-responsive" ng-src="{{image.thumbnail(item.file_name)}}" />
                </div>
            </div>
            <!--List Layout-->
            <div ng-if="layout === 'list' && detect.isMobile === false" ng-repeat="item in photos track by $index" class="col-md-12 repeat-animate list">
                <div ng-show="item.title !== undefined" class="thumbnail">
                    <a ng-href="{{link(item.path)}}">
                        <h5>{{item.title}}</h5>
                        <img class="img-responsive center-block" ng-src="{{image.full(item.file_name)}}" />
                    </a>
                </div>
                <div ng-show="item.title == undefined" class="well well-sm">
                    <img class="img-responsive center-block" ng-src="{{image.full(item.file_name)}}" />
                </div>
            </div>
            <!--Carousel layout-->
            <div ng-if="layout === 'carousel'" class="col-md-12 carousel">
                <!--Slider Nav-->
                <slick class="ng-slick slider-nav" ng-if="dataLoaded" 
                       init-onload="false" 
                       data="dataLoaded" 
                       infinite="true" 
                       lazy-load="progressive"
                       slides-to-show="3"
                       slides-to-scroll="1"
                       center-mode="true"
                       focus-on-select="true"
                       variable-width="true"
                       as-nav-for=".slider-for">
                    <div ng-repeat="item in photos track by $index">
                        <img class="image-responsive" data-lazy="{{image.thumbnail(item.file_name)}}" />
                    </div>
                </slick>
                <!--Slider For-->
                <slick class="ng-slick slider-for" ng-if="dataLoaded" 
                       init-onload="false" 
                       data="dataLoaded" 
                       lazy-load="progressive"
                       slides-to-show="1"
                       slides-to-scroll="1"
                       arrows="false"
                       fade="true"
                       as-nav-for=".slider-nav">
                    <div ng-repeat="item in photos track by $index">
                        <img class="image-responsive" data-lazy="{{image.full(item.file_name)}}" />
                    </div>
                </slick>
            </div>
            <!--End Layouts-->
        </div>
    </div>
</div>