<div class="photos {{layout}}">
    <div class="view col-sm-12">
        <div class="row">        
            <div class="col-md-9">
                <breadcrumbs></breadcrumbs>
            </div>
            <div ng-if="detect.isMobile === false" class="col-md-3 clearfix">
                <layout-btn-group></layout-btn-group>
            </div>
        </div>
        <div class="row">
            <loading></loading>
            <!--Layouts-->
            <layout-photos type="tile"></layout-photos>
            <layout-photos type="list"></layout-photos>
            <layout-photos type="carousel"></layout-photos>
            <!--End Layouts-->
        </div>
    </div>
</div>