.view-animate.ng-enter,
.view-animate.ng-leave,
.view-animate.ng-move {
    -webkit-transition: all linear 0.5s;
    -moz-transition: all linear 0.5s;
    -o-transition: all linear 0.5s;
    transition: all linear 0.5s;
}

.view-animate.ng-enter {
    opacity: 0;
}
.view-animate.ng-enter.ng-enter-active {
    opacity: 1;
}
.view-animate.ng-leave {
    opacity: 1;
}
.view-animate.ng-leave.ng-leave-active {
    opacity: 0;
}
.view-animate.ng-move {
    opacity: 0.5;
}
.view-animate.ng-move.ng-move-active {
    opacity: 1;
}

.repeat-animate.ng-enter-stagger {
    /* 200ms will be applied between each sucessive enter operation */ 
    -webkit-transition-delay:0.2s;
    transition-delay:0.2s;
    -moz-animation-delay:0.2s;
    -o-transition-delay:0.2s;

    /* this is here to avoid accidental CSS inheritance */
    -webkit-transition-duration:0s;
    transition-duration:0s;
    -moz-transition-duration:0s;
    -o-transition-duration:0s;
}

.repeat-animate.ng-enter-stagger,
.repeat-animate.ng-leave-stagger,
.repeat-animate.ng-move-stagger {
    /* 200ms will be applied between each sucessive enter operation */ 
    -webkit-transition-delay:0.2s;
    transition-delay:0.2s;
    -moz-animation-delay:0.2s;
    -o-transition-delay:0.2s;
}

.repeat-animate.ng-enter,
.repeat-animate.ng-leave,
.repeat-animate.ng-move {
    -webkit-transition: all linear 0.7s;
    -moz-transition: all linear 0.7s;
    -o-transition: all linear 0.7s;
    transition: all linear 0.7s;
}

.repeat-animate.ng-enter {
    opacity: 0;
}
.repeat-animate.ng-enter.ng-enter-active {
    opacity: 1;
}
.repeat-animate.ng-leave {
    opacity: 1;
}
.repeat-animate.ng-leave.ng-leave-active {
    opacity: 0;
}
.repeat-animate.ng-move {
    opacity: 0.5;
}
.repeat-animate.ng-move.ng-move-active {
    opacity: 1;
}

#lightbox.ng-enter,
#lightbox.ng-leave,
#lightbox.ng-move {
    -webkit-transition: all linear 1s;
    -moz-transition: all linear 1s;
    -o-transition: all linear 1s;
    transition: all linear 1s;
}

#lightbox.ng-enter {
    opacity: 0;
}
#lightbox.ng-enter.ng-enter-active {
    opacity: 1;
}
#lightbox.ng-leave {
    opacity: 1;
}
#lightbox.ng-leave.ng-leave-active {
    opacity: 0;
}
#lightbox.ng-move {
    opacity: 0.5;
}
#lightbox.ng-move.ng-move-active {
    opacity: 1;
}