html{
    height: 100%;
}
body {
    min-height: 100%;
}

body > .container {
    margin-top: 65px;
    margin-bottom: 65px;
}

.breadcrumb {
    margin-bottom: 3px;
}

ul.pagination {
    margin-top: 3px;
    margin-bottom: 3px;
}

.loading {
    background: url(/images/loader.gif) center center no-repeat;
}

footer {
    background-color: #f5f5f5;
    bottom: 0;
    height: 50px;
    padding-top: 20px;
    position: fixed;
    width: 100%;
}

div.loader {
    margin-top: auto;
}

#smiling-bean {
    height: 300px;
    position: fixed;
    right: -40px;
    top: -26px;
    width: 300px;
    z-index: 9999;
}

#smiling-bean img {
    height: auto;
    position: fixed;
    right: -17px;
    top: 7px;
    width: 235px;
    z-index: 9999;
}

#bunny-bean {
    bottom: 50px;
    height: 250px;
    left: 0;
    overflow: hidden;
    position: fixed;
    width: 50%;
    z-index: 9999;
}

#bunny-bean img {
    left: 0;
    position: absolute;
    bottom: -28px;
    width: inherit;
    height: auto;
}

ul.nav li > ul {
    margin-left: 15px;
}

.photo {
    min-width: 242px;
    min-height: 200px;
}

.slick-prev::before, .slick-next::before {
    color: #98978b !important;
}

.slick-slide img {
    width: inherit;
}

.slider-nav img {
    -ms-transform: scale(0.85); /* IE 9 */
    -webkit-transform: scale(0.85); /* Safari */
    transform: scale(0.85);
}

.slider-nav .slick-center img {
    width: inherit;
    -ms-transform: scale(1); /* IE 9 */
    -webkit-transform: scale(1); /* Safari */
    transform: scale(1);
}

.slider-nav .slick-slide {
    width: 100px;
}

.slider-for {
    margin-bottom: 0px !important;
}

#layout-controls blockquote {
    margin-bottom: 0;
}

.photos.tile .thumbnail {
    display: block;
    height: 200px;
    overflow: hidden;
    width: 100%;
}

.layout-controls {
    padding-bottom: 3px;
}

#lightbox {
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100%;
    text-align: center;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
}

#lightbox img {
    height: 75%;
    width: auto;
    margin-top: 8%;
}

#lightbox:target {
    outline: none;
}

.pagination-status {
    float: right;
    line-height: 1.42857;
    margin-left: -1px;
    padding: 16px 0;
    position: relative;
    text-decoration: none;
}

.thumbnail a {
    cursor: pointer;
}

.btn {
    border: medium none;
    font-size: 11px;
    font-weight: 500;
    line-height: 16px;
    text-transform: uppercase;
}