html {
    height: 100%;
}

body {
    min-height: 100%;
}

body > .container {
    margin-top: 69px;
    margin-bottom: 65px;
}

.breadcrumb {
    margin-bottom: 3px;
}

ul.pagination {
    margin-top: 3px;
    margin-bottom: 3px;
}

.loading {
    background: url(/images/loader.gif) center center no-repeat;
}

footer {
    background-color: #f5f5f5;
    bottom: 0;
    height: 50px;
    padding-top: 20px;
    position: fixed;
    width: 100%;
    z-index: 100;
}

div.loader {
    margin-top: auto;
}

ul.nav li > ul > li {
    background-color: #fff;
}

ul.nav li > ul {
    margin-left: 15px;
}

.photo {
    min-width: 242px;
    min-height: 200px;
}

.slick-prev::before,
.slick-next::before {
    color: #98978b !important;
}

.slick-slide img {
    width: inherit;
}

.slider-nav img {
    -ms-transform: scale(0.85);
    /* IE 9 */
    -webkit-transform: scale(0.85);
    /* Safari */
    transform: scale(0.85);
}

.slider-nav .slick-center img {
    width: inherit;
    -ms-transform: scale(1);
    /* IE 9 */
    -webkit-transform: scale(1);
    /* Safari */
    transform: scale(1);
}

.slider-nav .slick-slide {
    width: 100px;
}

.slider-for {
    margin-bottom: 0px !important;
}

#layout-controls blockquote {
    margin-bottom: 0;
}

.photos.tile .thumbnail {
    display: block;
    height: 200px;
    overflow: hidden;
    width: 100%;
}

.layout-controls {
    padding-bottom: 3px;
}

#lightbox {
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100%;
    text-align: center;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
}

#lightbox .fa {
    color: #fff;
    position: relative;
    top: 50%;
}

#lightbox img.media {
    height: 83%;
    width: auto;
    margin-top: 6.5%;
}

#lightbox .media-video {
    width: 75%;
    margin: auto;
    margin-top: 5.35%;
}

#lightbox:target {
    outline: none;
}

#lightbox .controls {
    color: #fff;
    position: absolute;
    top: 50%;
    font-size: 3em;
    margin: 15px;
}

#lightbox .controls.next {
    right: 0;
}

#lightbox .controls.close {
    font-size: 1em;
    right: 0;
    top: 55px;
    margin: 10px;
}

#lightbox .controls a,
#lightbox .controls button {
    color: #fff;
    text-decoration: none;
}

.pagination-status {
    float: right;
    line-height: 1.42857;
    margin-left: -1px;
    padding: 16px 0;
    position: relative;
    text-decoration: none;
}

.thumbnail a {
    cursor: pointer;
}

.btn {
    border: medium none;
    font-size: 11px;
    font-weight: 500;
    line-height: 16px;
    text-transform: uppercase;
}

.video-home {
    position: fixed;
    min-height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

.dolphin {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 64px;
    height: 64px;
    z-index: 1030;
}

.shark {
    position: fixed;
    bottom: 3px;
    right: 0px;
    width: 128px;
    height: 128px;
    z-index: 1030;
}

.babelfish {
    position: fixed;
    top: 0px;
    right: 0px;
    width: 128px;
    height: 128px;
    z-index: 1030;
}

.bluefish {
    position: fixed;
    top: 0px;
    right: 0px;
    width: 48px;
    height: 48px;
    z-index: 1030;
}

.fish {
    position: fixed;
    top: 50%;
    left: 0px;
    width: 128px;
    height: 128px;
    z-index: 1030;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

.jelly-fish {
    position: fixed;
    bottom: 0px;
    right: 50%;
    width: 128px;
    height: 128px;
    z-index: 1030;
}

.star {
    position: fixed;
    bottom: -130px;
    right: 16%;
    width: 128px;
    height: 128px;
    z-index: 1031;
}

.star.opened,
.star.bounce,
.star.bounceInUp,
.star.bounceOutDown {
    bottom: -6px;
}

.star img {
    width: 128px;
    height: 128px;
}

.star span {
    position: absolute;
    width: 128px;
    height: 128px;
    font-size: 2.9em;
    color: #C4A000;
    font-weight: bold;
    text-align: center;
    line-height: 3.4em;
    opacity: 0.85;
}

.video-home-page {
    position: absolute;
    top: 62px;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    overflow: hidden;
}

.player-start {
    position: fixed;
    bottom: -10px;
    right: 6%;
    width: 128px;
    height: 68px;
    z-index: 1029;
    border-radius: 6px;
    border: 3px solid #35BF1B;
    background-color: #40E521;
    color: #DEFF18;
    margin: 0px;
    text-align: center;
    font-weight: bold;
    font-size: 28px;
    background-image: -webkit-linear-gradient(top, #47FF24, #15E836);
    background-image: -moz-linear-gradient(top, #47FF24, #15E836);
    background-image: -ms-linear-gradient(top, #47FF24, #15E836);
    background-image: -o-linear-gradient(top, #47FF24, #15E836);
    background-image: linear-gradient(to bottom, #47FF24, #15E836);
}

.game-level {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1040;
    width: 100%;
    height: 116%;
    background: rgba(0, 0, 0, 0.6);
}

.game-level p {
    font-family: 'Bungee Shade', cursive;
    font-weight: bold;
    font-size: 10em;
    color: #FFF923;
    position: relative;
    top: 32%;
    text-align: center;
    width: 100%;
    display: block;
    text-transform: uppercase;
    vertical-align: middle;
    text-shadow:
   -2px -2px 0 #B2101C,  
    2px -2px 0 #B2101C,
    -2px 2px 0 #B2101C,
     2px 2px 0 #B2101C;
    letter-spacing: 1px;
    opacity: 0.9;
}
