html{
    height: 100%;
}
body {
    min-height: 100%;
}

body > .container {
    margin-top: 65px;
}

div.loader {
    margin-top: 100px;
}

#smiling-bean {
    height: 300px;
    position: fixed;
    right: -40px;
    top: -26px;
    width: 300px;
    z-index: 9999;
}

#smiling-bean img {
    height: auto;
    position: fixed;
    right: -17px;
    top: 7px;
    width: 235px;
    z-index: 9999;
}

#bunny-bean {
    bottom: -26px;
    height: 250px;
    left: 0;
    position: fixed;
    width: 50%;
    z-index: 9999;
}

#bunny-bean img {
    left: 0;
    position: absolute;
    bottom: -10px;
    width: inherit;
    height: auto;
}

ul.nav li > ul {
    margin-left: 15px;
}

.photo {
    min-width: 242px;
    min-height: 200px;
}

.slick-prev::before, .slick-next::before {
    color: #98978b !important;
}

.slick-slide img {
    width: inherit;
}

.slider-nav img {
    -ms-transform: scale(0.85); /* IE 9 */
    -webkit-transform: scale(0.85); /* Safari */
    transform: scale(0.85);
}

.slider-nav .slick-center img {
    width: inherit;
    -ms-transform: scale(1); /* IE 9 */
    -webkit-transform: scale(1); /* Safari */
    transform: scale(1);
}

.slider-nav .slick-slide {
    width: 100px;
}

.slider-for {
    margin-bottom: 0px !important;
}

#layout-controls blockquote {
    margin-bottom: 0;
}