<div class="thumbnail">
    <a ng-if="item.title !== undefined" ng-href="{{link(item.path)}}">
        <h5>{{item.title}}</h5>
        <img ng-if="item.type === 'image'" class="img-responsive" ng-src="{{image.thumbnail(item.file_name)}}" />
        <img ng-if="item.type === 'video'" class="img-responsive" ng-src="{{item.videoSettings.poster}}" />
    </a>
    <a ng-if="item.title === undefined" ng-click="lightbox.open(item, $index)">
        <img ng-if="item.type === 'image'" class="img-responsive" ng-src="{{image.thumbnail(item.file_name)}}" />
        <img ng-if="item.type === 'video'" class="img-responsive" ng-src="{{item.videoSettings.poster}}" />
    </a>
</div>
