<video id="{{id}}" class="video-js vjs-default-skin vjs-big-play-centered video-js-fullscreen"
       controls preload="auto" width="640" height="264"
       poster="{{poster}}">
    <source ng-src="{{mp4}}" type='video/mp4' />
    <source ng-src="{{flv}}" type='video/x-flv' />
    <p class="vjs-no-js">If you have problems fix your chrome if you have IE throw it away, and check out the IE Sucks chrome Extension that mocks its lack of function <a href="http://videojs.com/html5-video-support/" target="_blank">support HTML5 video</a></p>
</video>