<div class="home">
    <div ng-if="detect.isMobile === false">
        <div class="babelfish fade">
            <img src="/images/babelfish.png" />
        </div>
        <div class="bluefish fade">
            <img src="/images/bluefish.png" />
        </div>
        <div class="fish fade">
            <img src="/images/fish.png" />
        </div>
        <video-player class="video-home-page" video-settings="videoSettings"></video-player>
        <div class="dolphin fade">
            <img src="/images/me.png" />
        </div>
        <div class="shark fade">
            <img src="/images/wireshark.png" />
        </div>
        <div class="jelly-fish fade">
            <img src="/images/jelly-fish.png" />
        </div>
        <button class="btn btn-larger fade player-start animated" type="button">
            <span>START</span>
        </button>
        <div class="star fade player-score animated">
            <span>{{player.score}}</span>
            <img src="/images/star.png" />
        </div>
        <div class="game-level hide">
            <p>{{player.level_message}}</p>
        </div>
    </div>
</div>
