<div class="photos {{layout}}">
    <div class="view col-sm-12">
        <div class="row">        
            <div class="col-md-9">
                <breadcrumbs></breadcrumbs>
            </div>
            <div ng-if="detect.isMobile === false" class="col-md-3 clearfix">
                <layout-controls></layout-controls>
            </div>
        </div>
        <div class="row">
            <!--Layouts-->
            <layout-media type="tile"></layout-media>
            <layout-media type="list"></layout-media>
            <layout-media type="carousel"></layout-media>
            <!--End Layouts-->
            <!--Lightbox-->
            <lightbox></lightbox>
        </div>
    </div>
</div>